{% extends 'base.html' %}


{% block header %}
  <h1>{% block title %}hanayo_hr{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="/">New</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="main">
    <div class="search_wrap ">
        <img id="lg" src="static/pic/logo.png" alt="">
    </div>
    <div class="input_row">
        <form method="post">
            <label ></label>
            <input name="search_text" id="search_text" class="search_l" placeholder=" 请输入关键字进行搜索"
                   onfocus="this.placeholder=''" onblur="this.placeholder=' 请输入内容.....'" required>
            <input type="submit" value="搜索" class = "search_r">
        </form>

    </div>
    <div class ="keys_div">
        热门关键词：
        {% for key in keys %}
        <a class="key_word" href="/">{{key["keys_name"]}}</a>
        {% endfor %}
    </div>

    <div class="result_text">
        <p>
            搜索运作结果
        </p>


    </div>

    <div class="analysis_btn">
        职位分析
    </div>


</div>


{% endblock %}