{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}职位展示{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for record in records %}
    <article class="post">
      <header>
        <div>
          <h1>{{ record['data_post'] }}</h1>
          <div class="about">公司名： {{ record['data_company'] }} 工作地点： {{ record['data_address'] }}</div>
          <div class="about">薪资： {{ record['data_salary_min'] }}--{{ record['data_salary_max'] }}</div>
          <div class="about">发布时间： {{ record['data_date'] }}</div>
        </div>
      </header>
      <p class="body">学历要求：{{ record['data_edu']}}&nbsp;&nbsp;工作经验：{{ record['data_exp']}}&nbsp;&nbsp;关键字：{{ record['data_content']}}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

<hr>
    {% if total_page > 1  %}
        {% if current_page>1 %}
    <a class="action" href="{{ url_for('index.next_page', page=1, key_word=key_word) }}">回到首页</a>
    <a class="action" href="{{ url_for('index.next_page', page=(current_page-1), key_word=key_word) }}">上一页</a>
        {% endif %}
    <a class="action" href="">{{current_page}}</a>
        {% if total_page > current_page %}
    <a class="action" href="{{ url_for('index.next_page', page=(current_page+1), key_word=key_word) }}">下一页</a>
    <a class="action" href="{{ url_for('index.next_page', page=total_page, key_word=key_word) }}">最后一页({{total_page}})</a>
        {% endif %}
    <a class="action" href="{{ url_for('index.show_echarts', key_word=key_word) }}">查看职位分析</a>
    {% endif %}

{% endblock %}