<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>hanayo_hr</h1>
  <ul>
    <li><span>{{date_today}}，欢迎！</span>
    <li><a href="/">回到主页</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>


<div class="footer">
    <div class="footer_l">
        <ul >
            <li><a href="">回到首页</a></li>
            <li><a href="">关于</a></li>
            <li><a href="">©2023 - All Rights Reserved © 花阳亲</a></li>
        </ul>
    </div>
</div>
