<!doctype html>
<title>{% block title %}{% endblock %} - Hanayo</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style_echarts.css') }}">
<nav>
  <h1>hanayo_hr</h1>
  <ul>
    <li><span>今天是{{date_today}}，欢迎！</span>
    <li><a href="/">回到主页</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>



